.Board {
  width: 400px;
  height: 400px;
  border-right: 3px solid rgba(63, 50, 136, 0.658);
  border-bottom: 3px solid rgba(63, 50, 136, 0.658);
  border-left: 3px solid rgba(0, 0, 0, 0.548);
  border-top: 3px solid rgba(0, 0, 0, 0.548);
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.336);
  display: flex;
  justify-content: center;
  align-items: center;
  .Line {
    display: flex;
    list-style: none;
  }
}
.StartButton {
  color: rgba(0, 255, 149, 0.692);
  width: 190px;
  height: 70px;
  margin-top: -30px;
  font-size: 70px;
  letter-spacing: 7px;
  font-family: "Londrina Solid", cursive;
  cursor: pointer;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  &:hover {
    text-shadow: -2px 0 rgba(176, 255, 165, 0.3), 0 2px rgba(176, 255, 165, 0.3),
      2px 0 rgba(176, 255, 165, 0.3), 0 -2px rgba(176, 255, 165, 0.3);
    outline-color: rgb(255, 255, 255);
    outline-offset: 30px;
    text-shadow: 2px 2px 2px #427388;
  }
}
.Countdown {
  color: rgba(253, 253, 253, 0.747);
  font-size: 150px;
  font-family: "Righteous", cursive;
  margin-top: -10px;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}
.RestartButton {
  color: rgba(0, 0, 0, 0.692);
  width: 182px;
  height: 70px;
  margin-top: 50px;
  font-size: 60px;
  letter-spacing: 0px;
  text-shadow: -2px 0 rgba(176, 255, 165, 0.3), 0 2px rgba(176, 255, 165, 0.3),
    2px 0 rgba(176, 255, 165, 0.3), 0 -2px rgba(176, 255, 165, 0.3);
  font-family: "Londrina Solid", cursive;
  cursor: pointer;
}
