.Board {
  width: 400px;
  height: 400px;
  border-right: 2px solid rgba(63, 50, 136, 0.658);
  border-bottom: 2px solid rgba(63, 50, 136, 0.658);
  border-left: 2px solid rgba(0, 0, 0, 0.548);
  border-top: 2px solid rgba(0, 0, 0, 0.548);
}
