.Board {
  width: 400px;
  height: 400px;
  border-right: 3px solid rgba(63, 50, 136, 0.658);
  border-bottom: 3px solid rgba(63, 50, 136, 0.658);
  border-left: 3px solid rgba(0, 0, 0, 0.548);
  border-top: 3px solid rgba(0, 0, 0, 0.548);
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.336);
  display: flex;
  justify-content: center;
  align-items: center;
  .Line {
    display: flex;
    list-style: none;
    .Cell {
      width: 73px;
      height: 73px;
      margin: 3px;
      border-radius: 12px;
      background-color: rgba(255, 255, 255, 0);
      box-sizing: border-box;
      border: 3px solid rgba(116, 255, 243, 0.692);
      font-size: 50px;
      line-height: 70px;
      color: rgba(255, 255, 255, 0.842);
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      text-align: center;
      cursor: pointer;
    }
  }
}
.StartButton {
  color: rgba(0, 255, 149, 0.692);
  width: 190px;
  height: 70px;
  margin-top: -30px;
  font-size: 70px;
  letter-spacing: 7px;
  text-shadow: -2px 0 rgba(255, 255, 255, 0.3), 0 2px rgba(255, 255, 255, 0.3),
    2px 0 rgba(255, 255, 255, 0.3), 0 -2px rgba(255, 255, 255, 0.3);
  font-family: "Londrina Solid", cursive;
  cursor: pointer;
}
.Countdown {
  color: rgba(253, 253, 253, 0.747);
  font-size: 85px;
}
