.Cell {
  width: 73px;
  height: 73px;
  margin: 3px;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
  border: 3px solid rgba(116, 255, 243, 0.692);
  font-size: 50px;
  line-height: 70px;
  color: rgba(255, 255, 255, 0.842);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  cursor: pointer;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  &:hover {
    box-shadow: inset 0 0 15px rgba(136, 201, 255, 0.733),
      0 0 15px rgba(113, 216, 247, 0.712);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
  }
}
