.Cell {
  width: 75px;
  height: 75px;
  margin: 2px;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  border: 3px solid rgba(116, 255, 243, 0.692);
  font-size: 50px;
  line-height: 70px;
  color: rgba(255, 255, 255, 0.842);
  font-family: "Noto Sans JP", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  &:hover {
    @media (hover: hover) and (pointer: fine) {
      box-shadow: inset 0 0 15px rgba(136, 201, 255, 0.733),
        0 0 15px rgba(113, 216, 247, 0.712);
      outline-color: rgba(255, 255, 255, 0);
      outline-offset: 15px;
      text-shadow: 1px 1px 2px #427388;
    }
  }
}
@media all and (max-width: 490px) {
  .Cell {
    border: 2px solid rgba(116, 255, 243, 0.692);
    margin: 0.5px;
    width: calc(20vw - 9px);
    height: calc(20vw - 9px);
    font-size: 13vw;
  }
}
@media all and (max-height: 400px) and (min-width: 490px) {
  .Cell {
    border: 2px solid rgba(116, 255, 243, 0.692);
    margin: 0.5px;
    width: calc(20vh - 9px);
    height: calc(20vh - 9px);
    font-size: 13vh;
  }
}
