.Items {
  width: 400px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Info {
  display: inline-flex;
  vertical-align: center;
  align-items: center;
  margin-bottom: 35px;
}
.Ranking {
  text-decoration: none;
  font-family: "Dela Gothic One", cursive;
  color: rgba(212, 255, 255, 0.774);
  font-size: 22.5px;
  margin-top: 10px;
  margin-bottom: 15px;
}
@media all and (max-width: 490px) {
  .Items {
    width: 95vw;
  }
  .Info {
    margin-bottom: 5vw;
    margin-top: -3vw;
  }
}
@media all and (max-height: 700px) {
  .Items {
    top: 0%;
    left: 50%;
    transform: translate(-50%, 20px);
  }
}
@media all and (max-height: 400px) and (min-width: 490px) {
  .Items {
    width: 95vh;
  }
  .Info {
    margin-bottom: 5vh;
    margin-top: -3vh;
  }
}
