* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
*:focus {
  outline: none;
}
html {
  height: 100%;
}
body {
  background: -webkit-linear-gradient(0deg, #0f0c29, #302b63, #24243e);
}
.Items {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 400px;
  height: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -330px;
}
.Info {
  display: inline-flex;
  vertical-align: center;
  align-items: center;
}
