.rankingArea {
  position: absolute;
  left: 50%;
  top: 25px;
  transform: translate(-45vw, 0);
  width: 90vw;
  height: 95vh;
  background-color: rgba(255, 255, 255, 0.041);
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  .text {
    color: rgb(174, 193, 255);
    margin-top: -20px;
    margin-bottom: 15px;
    font-size: 45px;
    letter-spacing: 1px;
    font-family: "Righteous", cursive;
    text-shadow: 0 2px rgba(128, 105, 255, 0.37);
  }
  .rankingLoading {
    color: rgba(67, 242, 255, 0.692);
    width: 210px;
    height: 70px;
    font-size: 60px;
    letter-spacing: 0px;
    font-family: "Londrina Solid", cursive;
  }
  .dataArea {
    margin-top: 15px;
    margin-bottom: 25px;
    .rankingData {
      border-radius: 15px;
      color: white;
      background-color: rgba(0, 0, 0, 0.473);
      padding: 10px;
      height: 75px;
      margin-bottom: 15px;
      width: 86vw;
      display: flex;
      justify-content: space-around;
      > :nth-child(1) {
        width: 60px;
        height: 55px;
        font-size: 40px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 15px;
        font-family: "Dela Gothic One", cursive;
      }
      > :nth-child(2) {
        width: 500px;
        height: 55px;
        font-size: 15px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 20px;
        font-family: "Nanum Gothic", sans-serif;
        > :nth-child(1) {
          overflow: hidden;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 500;
          margin-bottom: 6px;
          div {
            margin: 0px 5vw;
          }
          > :nth-child(1) {
            font-size: 35px;
            height: 40px;
            display: flex;
            vertical-align: middle;
            text-align: center;
            align-items: center;
          }
          > :nth-child(2) {
            font-size: 25px;
            height: 40px;
            display: flex;
            vertical-align: middle;
            text-align: center;
            align-items: center;
            margin-top: 1px;
          }
        }
      }
    }
  }
}
@media all and (max-width: 490px) {
  .rankingArea {
    .text {
      font-size: 8vw;
      letter-spacing: 0px;
      margin-top: 10px;
    }
    .dataArea {
      .rankingData {
        > :nth-child(1) {
          font-size: 10vw;
        }
        > :nth-child(2) {
          > :nth-child(1) {
            > :nth-child(1) {
              font-size: 6vw;
            }
            > :nth-child(2) {
              font-size: 6vw;
            }
          }
          > :nth-child(2) {
            font-size: 3vw;
          }
        }
      }
    }
  }
}
@media all and (max-height: 400px) and (min-width: 490px) {
  .rankingArea {
    .text {
      font-size: 7vh;
      margin-top: 3vh;
    }
  }
}
