.Result {
  color: rgb(230, 255, 184);
  font-size: 45px;
  letter-spacing: 1px;
  font-family: "Righteous", cursive;
  text-shadow: 0 2px rgba(128, 105, 255, 0.37);
  display: table-cell;
  vertical-align: middle;
  transition: all 1s cubic-bezier(0.02, 0.9, 0.25, 0.96);
  margin-right: -20px;
  &.new {
    color: rgb(255, 74, 74);
    letter-spacing: 0px;
  }
}
@media all and (max-width: 490px) {
  .Result {
    font-size: 10vw;
  }
}
@media all and (max-height: 400px) and (min-width: 490px) {
  .Result {
    font-size: 10vh;
  }
}
