.Box {
  width: 160px;
  height: 100px;
  border: 5px outset rgba(207, 198, 255, 0.151);
  border-radius: 20px;
  display: table;
  background-color: rgba(255, 255, 255, 0.068);
  .Text {
    color: rgb(0, 0, 0);
    width: 100px;
    height: 50px;
    font-size: 35px;
    letter-spacing: 0px;
    font-family: "Fugaz One", cursive;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5), 1px 0 rgba(255, 255, 255, 0.5),
      0 -1px rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 100px;
    left: 47.5px;
  }
  .Target {
    color: rgb(190, 255, 252);
    height: 50px;
    font-size: 50px;
    letter-spacing: 3px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-family: "Fugaz One", cursive;
    text-shadow: 0 3px rgb(0, 134, 175);
  }
}
