.Time {
  color: white;
  height: 100px;
  font-size: 60px;
  letter-spacing: 3px;
  font-family: "Righteous", cursive;
  text-shadow: 0px 0 black, 3px 0 rgb(103, 138, 255), 3px 0 rgb(103, 232, 255),
    0 0px black;
}
