.Title {
  color: white;
  height: 70px;
  margin-bottom: 50px;
  font-size: 60px;
  letter-spacing: 3px;
  font-family: "Dela Gothic One", cursive;
  text-shadow: 0px 0 black, 3px 0 rgb(103, 138, 255), 3px 0 rgb(103, 232, 255),
    0 0px black;
  text-decoration: none;
  &.ingame {
    margin-bottom: 30px;
  }
  &.restart {
    margin-bottom: 20px;
  }
}
@media all and (max-width: 490px) {
  .Title {
    font-size: 12vw;
    margin-bottom: 5vw;
    height: 14vw;
  }
}
@media all and (max-height: 400px) and (min-width: 490px) {
  .Title {
    font-size: 12vh;
    margin-bottom: 5vh;
    height: 14vh;
  }
}
