.area {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.info {
  display: flex;
  align-items: center;
  vertical-align: center;
}
.ranking {
  text-decoration: none;
  font-size: 22.5px;
  font-family: 'Dela Gothic One', cursive;
  color: rgba(212, 255, 255, 0.774);
}
@media all and (max-height: 600px) {
  .area {
    height: 600px;
  }
}
